*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, rgb(1, 4, 23), rgb(35, 35, 43));
}
.nav{
font-family: 'Inter', sans-serif;
}
.nav-link{
    letter-spacing: .2rem;
    padding-left: 0;
    padding-right: 7px;
    border: 0;
    color: #fff5f5;
}
.socials{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: lighter;
}
.socials .nav-link{
    padding-right: 8px;
}
.introduction{
    align-self: center;
    width: 60%;
    margin: auto;
    padding-top: 85px;
}
.name{
    color: #fff5f5;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    
}
.name p{
    font-weight: lighter;
    letter-spacing: .3rem;
    font-size: 85px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    line-height: 85%;
}
.lname{
    margin-left: 20px;
}
.description{
    color: #676565;
    font-family: 'Inter', sans-serif;
    padding-top: 55px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
}
.borderlines{
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    height: 350px;
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
}
.nav{
    margin-right: 5%;
}
#dateTime{
    font-family: 'Gemunu Libre', sans-serif;
    color: #676565;
}
.dateTime-container{
    transform: rotate(90deg);
    margin-right: 92%;
    margin-top: 4%;
}
.Title-container{
    font-size: 23px;
    line-height: 23px;
    border-left: 4px solid rgba(222, 222, 248, 0.386);
    height: 240px;
    font-family: 'Inter', sans-serif;
}
.title{
    padding-top: 10px;
    font-weight: bolder;
    color: rgba(196, 202, 223, 1);
}
.description-container{
    padding-left: 
}